.crd{
    background-color: #801c4f;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-right: 10pt;
}
.cat{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#801c4f;
    color:white
    
}
