.saveDetails .input{
    width: 80%;
}
.saveDetails .btonedit{
background-color: rgb(227, 17, 87) !important;
   width: 80%;
   border: none;
   
}
.edit{
    margin-left: 15%;
}
.profiledetails{
    width: 500pt;
    height:300pt;
    padding:30px;
}
.profiledetails .btonedit{
    width:40%;
    margin-left:150px;
    background-color: rgb(227, 17, 87) !important;
}
.saveDetails{
    width:450pt;
    padding: 40px;
}