.profile{
    
    width: 150px;
    border:1px solid grey;
    padding:20px;
    margin-left: 10px;
    border:none;
    
    
} 
.profile .lst{
    color: grey;
    text-decoration: none;
}
/* .card{
    position: absolute;
} */

