.input1{
    width: 40%;
}
.bton{
    background-color: #ff3f6c !important;
   width: 20%;
   border: none;
   margin-left:10%
}
.form{
    margin-left: 38%;
}
.sign{
    text-align: center;
    margin-top: 2%;
}
.lnk{
   
    margin-top: 2%;
    margin-left: 2%;
}
.lnk a{
    text-decoration: none;
}
.log{
    color: white;
    text-decoration: none;
}
.blur-background{
    filter:blur(1px);
    -webkit-filter:blur(1px);
    -webkit-filter: blur(2px);
}
.modal Button{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}